<div style="background-color: rgba(255, 255, 236, 0.54);">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <table>
                <tr>
                    <td style="padding-left: 50px">
                        <p style="padding-top: 10px; font-size: 18px;">
                            <a href="/community_list/" style="text-decoration: none; color:#3c096c">
                                카테고리
                            </a>
                        </p>
                    </td>
                    <td style="padding-left: 20px">
                        <p style="padding-top: 10px; font-size: 18px;">
                            <a href="#!" style="text-decoration: none; color:#3c096c">
                                전체 게시물
                            </a>
                        </p>
                    </td>
                    <td style="padding-left: 20px">
                        <p style="padding-top: 10px; font-size: 18px;">
                            <a href="#!" style="text-decoration: none; color:#3c096c">
                                내 게시물
                            </a>
                        </p>
                    </td>
                    <td style="color: rgba(255, 255, 236, 0.54);">
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </td>
                    <td>
                        <input class="form-control" id="search-input" type="text" placeholder="검색어를 입력하세요" aria-label="검색어를 입력하세요" aria-describedby="button-search" />
                    </td>
                    <td style="padding-top:10px">
                        <button class="btn btn-sm" style="background-color:#FDF6AB;width:2.8em;height:2.8em;"><i class="fas fa-search"></i></button>
                    </td>
                <tr>
            </table>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>