<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Community</title>
        
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">

        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}

        <!--main-->
        <!-- Page header with logo and tagline-->
        <header class="py-2 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">커뮤니티</h1>
                    <p class="lead mb-0">환영합니다! 자유롭게 커뮤니티에서 소통하세요!</p>
                </div>
            </div>
        </header>

        <!--footer-->
        {% include 'firstapp/footer.html' %}

        <!--javascript-->
        <script src="static/firstapp/javascript/landing.js"></script>

        
    </body>
</html>