<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--title & logo-->
        <title>This_Abled</title>
        <link rel="shortcut icon" type="text/css" href="{% static 'firstapp/image/icon_logo.png' %}">

        <!--style-->
        <!--<link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">-->
        <link rel="stylesheet" href="static/firstapp/css/landing.css"> 
        <link rel="stylesheet" href="static/firstapp/css/navbar.css">
        <link rel="stylesheet" href="static/firstapp/css/footer.css">
        <link href="{% static 'firstapp/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <link href=".bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <!--<link rel="stylesheet" href="static/firstapp/css/landing.css">-->
        <!--javascript-->
        <link href="{% static 'firstapp/css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/community_list.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}

        <!--main-->
        {% include 'firstapp/community_bar.html' %}
        <!--header-->
        <header class="py-2 border-bottom mb-4" style="background-color:#FFE566">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color:#3c096c">커뮤니티</h1>
                    <p class="lead mb-0" style="font-size:22px;color:#3c096c;padding-top:10px;">환영합니다! 자유롭게 커뮤니티에서 소통하세요!</p>
                </div>
            </div>
        </header>

        <!-- Page content-->
        <div class="container">
            <div class="row" style="padding-bottom:50px;">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--post-->
                            <div class="card mb-4">
                                <a href="/job_community/"><img class="card-img-top" src={% static "firstapp/image/일자리bg.jpg" %} alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">October 31, 2022</div>
                                    <h2 class="card-title h4" style="padding-top:10px; padding-bottom:10px">일자리</h2>
                                    <p class="small">환영합니다! 일자리 테스트 결과에 관하여 소통하는 게시판입니다.</p>
                                </div>
                            </div>
                            <!--post-->
                            <div class="card mb-4">
                                <a href="/notice_community/"><img class="card-img-top" src={% static "firstapp/image/공지사항bg.jpg" %} alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">October 20, 2022</div>
                                    <h2 class="card-title h4" style="padding-top:10px; padding-bottom:10px">공지사항</h2>
                                    <p class="small">This_Abled 커뮤니티의 공지사항을 업로드합니다.</p>
                                </div>
                            </div>
                            <!--post-->
                            <div class="card mb-4">
                                <a href="/admin_community/"><img class="card-img-top" src={% static "firstapp/image/관리자bg.jpg" %} alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">October 20, 2022</div>
                                    <h2 class="card-title h4" style="padding-top:10px; padding-bottom:10px"><i class="fas fa-lock"></i>  관리자 전용</h2>
                                    <p class="small">This_Abled 운영자 및 관리자를 위한 비공개 카테고리입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--post-->
                            <div class="card mb-4">
                                <a href="/hobby_community/"><img class="card-img-top" src={% static "firstapp/image/취미bg.jpg" %} alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">October 31, 2022</div>
                                    <h2 class="card-title h4" style="padding-top:10px; padding-bottom:10px">취미</h2>
                                    <p class="small">환영합니다! 취미 테스트 결과에 관하여 소통하는 게시판입니다.</p>
                                </div>
                            </div>
                            <!--post-->
                            <div class="card mb-4">
                                <a href="/qna_community/"><img class="card-img-top" src={% static "firstapp/image/qna_bg.jpg" %} alt="..." style="height: 270px"/></a>
                                <div class="card-body">
                                    <div class="small text-muted">October 20, 2022</div>
                                    <h2 class="card-title h4" style="padding-top:10px; padding-bottom:10px">Q&A</h2>
                                    <p class="small">문의에 대한 답변을 얻고 내 지식을 공유합니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
        <!--footer-->
        
        {% include 'firstapp/footer.html' %}
        
        
        <!--javascript-->
        <script src={% static "firstapp/javascript/landing.js" %}></script>
    </body>
</html>