<div id="footer">
    <div class="container py-4">
        <div class="row px-5">
            <div class="col text-left">
                상호명: (주)보도블록 | 대표: 임예진 | 대표 메일: thisabled@bodoblock.com <br/>
                사업장소재지: 서울특별시 도봉구 삼양로 144길 33 | 사업장등록번호: 123-45-67890 <br/>
                ​고객 문의: 카카오톡 플러스친구 '보도블록'
                <br/><br/><br/>
                ©2022 by This_Abled. Proudly created by 보도블록​ <br/>
                병아리 아이콘  제작자: Freepik - Flaticon <br/>
            </div>
            <div class="col text-right">
                <img src="static/firstapp/image/foot_ins.png" width="35px" height="35px"> &nbsp;
                <img src="static/firstapp/image/foot_fb.png" width="35px" height="35px"> &nbsp;
                <img src="static/firstapp/image/foot_tw.png" width="35px" height="35px"> &nbsp;
                <img src="static/firstapp/image/foot_lin.png" width="35px" height="35px"> &nbsp;        
            </div>
        </div>
    </div>
</div>