<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>일자리 테스트</title>
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/community_list.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/test.css' %}" rel="stylesheet" type="text/css" media="screen">

        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="text/css" href="{% static 'firstapp/image/icon_logo.png' %}">

        <!--style-->
        <!--<link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">-->
        <link rel="stylesheet" href="static/firstapp/css/landing.css"> 
        <link rel="stylesheet" href="static/firstapp/css/navbar.css">
        <link rel="stylesheet" href="static/firstapp/css/footer.css">
        <link href="{% static 'firstapp/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <link href=".bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <!--<link rel="stylesheet" href="static/firstapp/css/landing.css">-->
        <!--javascript-->
        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}
        <img src="{% static 'firstapp/image/hobby_test_top.png' %}" width="100%">
        <div class="next" style="padding-top: 10px;">
            
            <a id="nextbtn" href="/job_test_1/" class="btn rounded-pill" style="width: 70px; height:30px; font-size:15px; padding: 3px;">
                1/4<br>
            </a>            <div style="font-size: 14px; padding-bottom: 15px;">&#128073; 시각장애인분들을 배려하여 <span style="color: tomato;">글씨</span>와 <span style="color: tomato;">버튼</span>을 누르면 음성이 나옵니다.</div>


        </div>


        <table class="q_table">
          <tr>
              <td>
                  <!--첫번째 질문-->
                  <div onclick="speak('나는 평소 감성적인 편이다.')">Q. 나는 평소 감성적인 편이다.</div>
                  <fieldset>
                      <label>
                        <input type="radio" name="Q1" value="email" onclick="speak('매우 그렇다')">
                        <span>매우 그렇다</span>
                      </label>
                    
                      <label style="padding-left: 52px; padding-top: 10px;">
                        <input type="radio" name="Q1" value="phone" class="q1" onclick="speak('그렇다')">
                        <span>그렇다</span>
                      </label>
                    
                      <label style="padding-left: 52px; padding-top: 10px;">
                        <input type="radio" name="Q1" value="fax" class="q1" onclick="speak('아니다')"/>
                        <span>아니다</span>
                      </label>
                    
                      <label style="padding-left: 52px; padding-top: 10px;">
                        <input type="radio" name="Q1" value="mail" class="q1" onclick="speak('매우 아니다')"/>
                        <span>매우 아니다</span>
                      </label>
                    </fieldset>
              </td>
          </tr>
          <tr>
              <td style="padding-top: 40px;">
                  <!--두 번째 질문-->
                  <div onclick="speak('나는 집에 있는 것보다 외부활동을 좋아한다.')" style="display: inline;">Q. 나는 집에 있는 것보다 외부활동을 좋아한다.</div>
                  <fieldset>
                    <label>
                      <input type="radio" name="Q2" value="email" onclick="speak('매우 그렇다')">
                      <span>매우 그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q2" value="phone" class="q1" onclick="speak('그렇다')">
                      <span>그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q2" value="fax" class="q1" onclick="speak('아니다')"/>
                      <span>아니다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q2" value="mail" class="q1" onclick="speak('매우 아니다')"/>
                      <span>매우 아니다</span>
                    </label>
                  </fieldset>
              </td>
          </tr>
          <tr>
              <td style="padding-top: 40px;">
                  <!--세 번째 질문-->
                  <div onclick="speak('나는 평소 클래식 음악을 좋아한다.')">Q. 나는 평소 클래식 음악을 좋아한다.</div>
                  <fieldset>
                    <label>
                      <input type="radio" name="Q3" value="email" onclick="speak('매우 그렇다')">
                      <span>매우 그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q3" value="phone" class="q1" onclick="speak('그렇다')">
                      <span>그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q3" value="fax" class="q1" onclick="speak('아니다')"/>
                      <span>아니다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q3" value="mail" class="q1" onclick="speak('매우 아니다')"/>
                      <span>매우 아니다</span>
                    </label>
                    </fieldset>
              </td>
          </tr>
          <tr>
              <td style="padding-top: 40px;">
                  <!--네 번째 질문-->
                  <div onclick="speak('나는 평소에 다른 사람을 찍어주는 것을 좋아한다.')">Q. 나는 평소에 다른 사람을 찍어주는 것을 좋아한다.</div>
                  <fieldset>
                    <label>
                      <input type="radio" name="Q1" value="email" onclick="speak('매우 그렇다')">
                      <span>매우 그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q4" value="phone" class="q1" onclick="speak('그렇다')">
                      <span>그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q4" value="fax" class="q1" onclick="speak('아니다')"/>
                      <span>아니다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q4" value="mail" class="q1" onclick="speak('매우 아니다')"/>
                      <span>매우 아니다</span>
                    </label>
                    </fieldset>
              </td>
          </tr>
          <tr>
              <td style="padding-top: 40px;">
                  <!--다섯 번째 질문-->
                  <div onclick="speak('나는 평소 컴퓨터나 휴대폰으로 게임을 하는 것을 좋아한다.')">Q. 나는 평소 컴퓨터나 휴대폰으로 게임을 하는 것을 좋아한다.</div>
                  <fieldset>
                    <label>
                      <input type="radio" name="Q5" value="email" onclick="speak('매우 그렇다')">
                      <span>매우 그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q5" value="phone" class="q1" onclick="speak('그렇다')">
                      <span>그렇다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q5" value="fax" class="q1" onclick="speak('아니다')"/>
                      <span>아니다</span>
                    </label>
                  
                    <label style="padding-left: 52px; padding-top: 10px;">
                      <input type="radio" name="Q5" value="mail" class="q1" onclick="speak('매우 아니다')"/>
                      <span>매우 아니다</span>
                    </label>
                    </fieldset>
              </td>
          </tr>
      </table>
      <!-- <select id="select-lang">
        <option value="ko-KR">한국어</option>
        <option value="ja-JP" selected>일본어</option>
        <option value="en-US">영어</option>
    </select>
    <textarea id="text" rows="5" cols="20"></textarea>
    <button id="btn-read">읽기</button> -->
    <script>
        function speak(text) {
            if (typeof SpeechSynthesisUtterance === "undefined" || typeof window.speechSynthesis === "undefined") {
                alert("이 브라우저는 음성 합성을 지원하지 않습니다.")
                return
            }
            window.speechSynthesis.cancel() // 현재 읽고있다면 초기화

            const prop = {
              rate: 0.9,
              pitch: 0.8,
              lang: "ko-KR"
          } || {}

            const speechMsg = new SpeechSynthesisUtterance()
            speechMsg.rate = prop.rate || 0.9 // 속도: 0.1 ~ 10      
          speechMsg.pitch = prop.pitch || 0.8 // 음높이: 0 ~ 2
          speechMsg.lang = prop.lang || "ko-KR"
            speechMsg.text = text
            
            // SpeechSynthesisUtterance에 저장된 내용을 바탕으로 음성합성 실행
            window.speechSynthesis.speak(speechMsg)
        }

        // 이벤트 영역
        const selectLang = document.getElementById("select-lang")
        const text = document.getElementsByClassName('q1')

        let elements = document.getElementsByClassName('q1');  
        // elements[0].addEventListener("click", e => {
        //     alert(elements[0].value)
        //     speak(elements[i].value, {
        //         rate: 1,
        //         pitch: 0.9,
        //         lang: "ko-KR"
        //     })
        // })
        // elements[1].addEventListener("click", e => {
        //     alert(elements[1].value)
        //     speak(elements[i].value, {
        //         rate: 1,
        //         pitch: 0.9,
        //         lang: "ko-KR"
        //     })
        // })
        
        
        
    </script>

        
<div class="next" style="padding-top: 30px;">
            
            <a id="nextbtn" href="/hobby_test_2/" class="btn rounded-pill" style="width: 110px; height:45px; font-size:17px; padding-top: 8px;" onclick="speak(this.innerHTML)">
                다음
            </a>
        </div>



        {% include 'firstapp/footer.html' %}

        <script src={% static "firstapp/javascript/navbar.js" %}></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>