<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--title & logo-->
        <title>취미 게시판</title>
        <link rel="shortcut icon" type="text/css" href="{% static 'firstapp/image/icon_logo.png' %}">

        <!--style-->
        <!--<link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">-->
        <link rel="stylesheet" href="static/firstapp/css/landing.css"> 
        <link rel="stylesheet" href="static/firstapp/css/navbar.css">
        <link rel="stylesheet" href="static/firstapp/css/footer.css">
        <link href="{% static 'firstapp/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <link href=".bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <!--<link rel="stylesheet" href="static/firstapp/css/landing.css">-->
        <!--javascript-->
        <link href="{% static 'firstapp/css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/community_list.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}

        <!--main-->
        {% include 'firstapp/community_bar.html' %}
        <!--header-->
        <header class="py-2 border-bottom mb-4" style="background-image: url({% static "firstapp/image/취미_촬영_bg.jpg" %});">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color:#ffffff">취미</h1>
                    <p class="lead mb-0" style="font-size:22px;color:#ffffff;padding-top:10px;">환영합니다! 취미 테스트 결과에 관하여 소통하는 게시판입니다.</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div>
            <div class="row" style="width:100%; padding-bottom: 50px; padding-left:5em;">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <div style="border: 1px solid #3c096c; border-radius: 1em;">
                        <table>
                            <tr>
                                <td style="padding-left: 20px; padding-top: 15px">
                                    <a href="/hobby_exercise/">
                                        <img src="{% static "firstapp/image/취미_운동_bg.jpg" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/hobby_exercise/" style="text-decoration: none; color:#000000">
                                            운동
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "운동"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <a href="/job_community/">
                                        <img src="{% static "firstapp/image/취미_뮤지컬_bg.jpg" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/job_community/" style="text-decoration: none; color:#000000">
                                            뮤지컬/연극/영화 감상
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "뮤지컬/연극/영화 감상"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <a href="/job_community/">
                                        <img src="{% static "firstapp/image/취미_연주_bg.jpg" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/job_community/" style="text-decoration: none; color:#000000">
                                            악기 연주
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "악기 연주"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <a href="/job_community/">
                                        <img src="{% static "firstapp/image/취미_촬영_bg.jpg" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/job_community/" style="text-decoration: none; color:#000000">
                                            사진 촬영
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "사진 촬영"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <td style="padding-left: 20px; padding-right: 10px">
                                    <a href="/job_community/">
                                        <img src="{% static "firstapp/image/취미_게임_bg.jpg" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/job_community/" style="text-decoration: none; color:#000000">
                                            게임
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "게임"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <a href="/job_community/">
                                        <img src="{% static "firstapp/image/취미_요리_bg.jpg" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/job_community/" style="text-decoration: none; color:#000000">
                                            요리
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "요리"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <a href="/job_community/">
                                        <img src="{% static "firstapp/image/취미_공예_bg.jpg" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/job_community/" style="text-decoration: none; color:#000000">
                                            공예
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "공예"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <a href="/job_community/">
                                        <img src="{% static "firstapp/image/취미_미술_bg.png" %}" width="150em" height="100em">
                                    </a>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px; padding-bottom: 20px">
                                    <p style="padding-top: 20px; font-size: 20px; font-weight: bold">
                                        <a href="/job_community/" style="text-decoration: none; color:#000000">
                                            미술
                                        </a>
                                    </p>
                                    <p>
                                        취미 테스트 결과 "미술"에 관하여 소통하는 게시판입니다! 자유롭게 글과 댓글을 작성해주세요.
                                    </p>
                                </td>
                            <tr>
                        </table>
                    </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
        
        <!--footer-->
        {% include 'firstapp/footer.html' %}
        
        <!--javascript-->
        <script src={% static "firstapp/javascript/landing.js" %}></script>
    </body>
</html>