<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>등산 좋아하시는 분 계신가요?</title>
        
        <!--style-->
        <!--<link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">-->
        <link rel="stylesheet" href="static/firstapp/css/landing.css"> 
        <link rel="stylesheet" href="static/firstapp/css/navbar.css">
        <link rel="stylesheet" href="static/firstapp/css/footer.css">
        <link href="{% static 'firstapp/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <link href=".bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <!--<link rel="stylesheet" href="static/firstapp/css/landing.css">-->
        <!--javascript-->
        <link href="{% static 'firstapp/css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/community_list.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}

        <!--main-->
        {% include 'firstapp/community_bar.html' %}
        <!--header-->

        <!-- Page content-->
        <div>
            <div class="row" style="width:100%; padding-top: 15px; padding-bottom: 50px; padding-left:7em">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-5" style="padding-top: 20px; border: 1px solid #3c096c; border-radius: 0.5em;">
                    <table style="margin: 10px;">
                        <tr>
                            <td>
                                <h3>등산 좋아하시는 분 계신가요?</h3>
                                <p style="padding-left:0px;font-size:14px;color:darkgray">
                                    Novemver, 11, 2022
                                </p>
                                <div style="font-size:18px"><a href="/hobby_exercise/" style="text-decoration: none;">게시판: 운동</div>
                                <hr>
                                <p style="color: black; padding-top:10px; padding-bottom: 20px; font-size:17px">저는 평소 등산을 좋아합니다 ㅎㅎ
                                    혹시 등산 좋아하시는 분 계시면 함께 등산하고 싶은데 댓글 많이 남겨주세요~!
                                </p>
                                <div><i class="fas fa-heart"></i>&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-share"></i>&nbsp;공유</div>
                                <hr>
                                <div style="font-size:18px; color:black">댓글</div>
                            </td>
                        <tr>
                    </table>
                </div>
                <div class="col-lg-3" style="padding-top: 0px; padding-left:4em">
                    <button class="btn btn-primary" id="button-search" type="button" style="height:2.5em; border-radius:0.5em">댓글</button>
                    <button class="btn" id="button-follow" type="button" style="height:2.5em; border-radius:0.5em"><i class="fas fa-bell"></i>  게시물 팔로우</button>
                </div>
                
                <div class="col-lg-2">
                </div>
            </div>
        </div>

        <!--footer-->
        
        {% include 'firstapp/footer.html' %}
        
        
        <!--javascript-->
        <script src={% static "firstapp/javascript/navbar.js" %}></script>
    </body>
</html>