<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>일자리 테스트</title>
        <link href="{% static 'firstapp/css/test.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/community_list.css' %}" rel="stylesheet" type="text/css" media="screen">

        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="text/css" href="{% static 'firstapp/image/icon_logo.png' %}">

        <!--style-->
        <!--<link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">-->
        <link rel="stylesheet" href="static/firstapp/css/landing.css"> 
        <link rel="stylesheet" href="static/firstapp/css/navbar.css">
        <link rel="stylesheet" href="static/firstapp/css/footer.css">
        <link href="{% static 'firstapp/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <link href=".bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <!--<link rel="stylesheet" href="static/firstapp/css/landing.css">-->
        <!--javascript-->
        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}
        <img src="{% static 'firstapp/image/job_test_top.png' %}" width="100%">
        <div class="next" style="padding-top: 10px;">
            
            <a id="nextbtn" href="/job_test_1/" class="btn rounded-pill" style="width: 70px; height:30px; font-size:15px; padding: 3px;">
                4/4
            </a>
        </div>
        <table class="q_table">
            <tr>
                <td>
                    <!--첫번째 질문-->
                    <div >Q. 무거운 물건들을 나를 때 쉽게 하는 편이다.</div>
                    <fieldset>
                        <label>
                          <input type="radio" name="q1" value="email" />
                          <span>매우 그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q1" value="phone" />
                          <span>그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q1" value="fax" />
                          <span>아니다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q1" value="mail" />
                          <span>매우 아니다</span>
                        </label>
                      </fieldset>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 40px;">
                    <!--두 번째 질문-->
                    Q. 새로운 전자기기를 잘 다루는 편이다.</div>
                    <fieldset>
                        <label>
                          <input type="radio" name="q2" value="email"/>
                          <span>매우 그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q2" value="phone" />
                          <span>그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q2" value="fax" />
                          <span>아니다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q2" value="mail" />
                          <span>매우 아니다</span>
                        </label>
                      </fieldset>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 40px;">
                    <!--세 번째 질문-->
                    Q. 손으로 정교한 작업을 하는 것이 재미있다.</div>
                    <fieldset>
                        <label>
                          <input type="radio" name="q3" value="email"/>
                          <span>매우 그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q3" value="phone" />
                          <span>그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q3" value="fax" />
                          <span>아니다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q3" value="mail" />
                          <span>매우 아니다</span>
                        </label>
                      </fieldset>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 40px;">
                    <!--네 번째 질문-->
                    <div >Q. 침착하고 원만한 성격을 가지고 있다.</div>
                    <fieldset>
                        <label>
                          <input type="radio" name="q4" value="email" />
                          <span>매우 그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q4" value="phone" />
                          <span>그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q4" value="fax" />
                          <span>아니다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q4" value="mail" />
                          <span>매우 아니다</span>
                        </label>
                      </fieldset>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 40px;">
                    <!--다섯 번째 질문-->
                    <div>Q. 평소에 무언가를 만들 때 손재주가 있다고 듣거나 빠르게 끝내는 편이다.</div>
                    <fieldset>
                        <label>
                          <input type="radio" name="q5" value="email"/>
                          <span>매우 그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q5" value="phone" />
                          <span>그렇다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q5" value="fax" />
                          <span>아니다</span>
                        </label>
                      
                        <label style="padding-left: 52px; padding-top: 10px;">
                          <input type="radio" name="q5" value="mail" />
                          <span>매우 아니다</span>
                        </label>
                      </fieldset>
                </td>
            </tr>
        </table>
        

        
<div class="next" style="padding-top: 30px;">
            
            <a id="nextbtn" href="/job_test_result/" class="btn rounded-pill" style="width: 110px; height:45px; font-size:17px; padding-top: 8px;">
                제출
            </a>
        </div>



        {% include 'firstapp/footer.html' %}
        
    </body>
</html>