<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>This_Abled</title>

        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">
        <!--<link rel="stylesheet" href="static/firstapp/css/landing.css">-->
        
        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}

        <!--main-->


        <!--footer-->
        {% include 'firstapp/footer.html' %}
    </body>
</html>