<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--title & logo-->
        <title>This_Abled</title>
        <link rel="shortcut icon" type="text/css" href="{% static 'firstapp/image/icon_logo.png' %}">

        <!--style-->
        <link rel="stylesheet" href="static/firstapp/css/landing.css"> 
        <link rel="stylesheet" href="static/firstapp/css/navbar.css">
        <link rel="stylesheet" href="static/firstapp/css/footer.css">
        <link rel="stylesheet" href="static/firstapp/css/mypage.css">
        <link href="{% static 'firstapp/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <link href="{% static 'firstapp/css/mypage.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href=".bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'firstapp/css/landing.css' %}" rel="stylesheet" type="text/css" media="screen">

        <!--javascript-->
        <link href="{% static 'firstapp/css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'firstapp/css/community_list.css' %}" rel="stylesheet" type="text/css" media="screen">
        
        <script src="https://kit.fontawesome.com/6149eb66f9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--navbar-->
        {% include 'firstapp/navbar.html' %}

        <!--main-->
        <div id="total">
            <div id="total_header">
                <a><img src={% static "firstapp/image/camerabtn.png" %} width="40px"></a>
            </div>
            <div id="total_bottom">
                <img class="rounded-circle" width="100px" src="https://doitdjango.com/avatar/id/381/9674d4ef12eea4a4/svg/{{user.email}}/">
                <span id="total_text">{{ user.username }}</span>
            </div>
        </div>
        <div id="bottom" script="location.href = "#tab1"">
            <div id="css_tabs">
                <!--라디오 버튼-->
                <input id="tab1" type="radio" name="tab" checked="checked"/>
                <input id="tab2" type="radio" name="tab"/>
                <input id="tab3" type="radio" name="tab"/>
                <input id="tab4" type="radio" name="tab"/>
                <input id="tab5" type="radio" name="tab"/>
                <!--탭 제목-->
                <label for="tab1">내 계정</label>
                <label for="tab2">게시판 댓글</label>
                <label for="tab3">게시판 게시물</label>
                <label for="tab4">알림</label>
                <label for="tab5">설정</label>
                <!--탭 내용-->
                <div class="tab1_context">
                    내계정입니다
                </div>
                <div class="tab2_context">
                    게시판 댓글입니다
                </div>
                <div class="tab3_context">
                    게시판 게시물입니다
                </div>
                <div class="tab4_context">
                    알림입니다
                </div>
                <div class="tab5_context">
                    설정입니다
                </div>
            </div>
        </div>
        


        <!--footer-->
        {% include 'firstapp/footer.html' %}


        <!--javascript-->
    </body>
</html>