<!--navbar-->
{% load socialaccount %}
{% load static %}
<div>
    <table id="nav">
        <tr>
            <td width="400px">
                <a href="/">
                    <img src="{% static 'firstapp/image/logo.png' %}" width="150px" height="45px">
                </a>
            </td>
            <td width="70px" id="check_func"> 
                <span id="check" onclick="javascript:check()">
                    검사
                </span>
                <!--<a href="/start_job_test/" style="text-decoration:none; color: #3c096c;">검사</a>-->
            </td>
            <td width="110px" id="com_func">
                <span id="com">
                    <a href="/community_list/" style="text-decoration:none; color: #3c096c;">
                        커뮤니티
                    </a>
                </span>    
            </td>

            <!--
            <td id="login_func">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/mypage/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="ture" aria-expanded="false">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle" width="25px" src="{{user.socialaccount_set.all.0.get_avatar_url}}">
                            {% else %}
                            <img class="rounded-circle" width="25px" src="https://doitdjango.com/avatar/id/381/9674d4ef12eea4a4/svg/{{user.email}}/">
                            {% endif %}
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a role="button" data-toggle="modal" data-target="#loginModal">
                            Log In
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </td>
            -->

            <td id="login_func">
                    {% if user.is_authenticated %}
                    <div id="me">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle" width="25px" src="{{user.socialaccount_set.all.0.get_avatar_url}}">
                            {% else %}
                            <img class="rounded-circle" width="25px" src="https://doitdjango.com/avatar/id/381/9674d4ef12eea4a4/svg/{{user.email}}/">
                            {% endif %}
                            {{ user.username }}
                    </div>
                    {% else %}
                    <div id="me2">
                        <a href="/loginpage/">Log In</a>
                    </div>
                    {% endif %}
            </td>

        </tr>    
    </table>

    <!--dropdown(check)-->
    <div id="check_drop">
        <span>일자리</span>
        <br>
        <span>취미</span>
    </div>

    <!--dropdown(login)-->
    <div id="login_drop">
        <span><a href="/mypage/">My Page</a></span>
        <br>
        <span><a href="/accounts/logout/">Log Out</a></span>
    </div>

</div>