<!--navbar-->
{% load socialaccount %}
{% load static %}
<nav>
    <table id="nav">
        <tr>
            <td width="400px">
                <a href="/">
                    <img src="{% static 'firstapp/image/logo.png' %}" width="150px" height="45px">
                </a>
            </td>
            <td width="70px" id="check_func" style="padding-left:20px;"> 
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle" href="#" id="check" style="color: #3c096c; font-size: 25px;"role="button" data-toggle="dropdown" aria-haspopup="ture" aria-expanded="false">
                            검사
                        </span>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <span>
                                <a href="/start_job_test/" style="font-size: 16px; text-decoration:none; color: #3c096c; font-size: 25px;">
                                    일자리
                                </a>
                            </span>
                            <br>
                            <span>
                                <a href="/start_hobby_test/" style="font-size: 16px; text-decoration:none; color: #3c096c; font-size: 25px;">
                                    취미
                                </a>
                            </span>
                        </div>
                    </li>
                </ul>
            </td>
            <td width="130px" id="com_func">
                <span id="com">
                    <a href="/community_list/" style="text-decoration:none; color: #3c096c; font-size: 25px; padding-left: 10px; width: 25px;">
                        커뮤니티
                    </a>
                </span>    
            </td>

            <td id="login_func">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" style="color: #3c096c;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="ture" aria-expanded="false">
                                {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <img class="rounded-circle" width="25px" src="{{user.socialaccount_set.all.0.get_avatar_url}}">
                                {% else %}
                                <img class="rounded-circle" width="25px" src="https://doitdjango.com/avatar/id/381/9674d4ef12eea4a4/svg/{{user.email}}/">
                                {% endif %}
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <span><a href="/mypage/" style="font-size: 16px; text-decoration:none; color: #3c096c; font-size: 25px;">My Page</a></span>
                                <br>
                                <span><a href="/accounts/logout/" style="font-size: 16px; text-decoration:none; color: #3c096c; font-size: 25px;">Log Out</a></span>
                            </div>
                        </li>
                    {% else %}
                        <div id="me" class="nav-item">
                            <a href="/loginpage/" style="text-decoration:none; color: #757575;">
                                Log In
                            </a>
                        </div>
                    {% endif %}
                </ul>
            </td>  
        </tr>    
    </table>
</nav>