#footer {
    position:absolute;
    bottom:10;
    height:180px; 
    width:100%;
    background-color: #ffee99;   
    color: #474747;
    font-size:12px;
}

#f_text {
    padding-top:20px;
    padding-left:260px;
    padding-bottom:20px;
}