/*new font*/
@font-face{
    src:url("../fonts/Binggrae.ttf");
    font-family : "Binggrae";
}

body {
    margin:0;
    font-family: "Binggrae";
}

#nav {
    background-color: #ffee99;  
    color:darkgray;
    font-size: 20px;
    font-weight: bold;
    width: 100%; 
    text-align:right;
}

span:hover {
    color:#3c096c;    
}

#me {
    text-align: right;
    padding-right:250px;
}

